<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<package id="7zip" />
		<package id="dotnetfx" />
		<package id="powershell" />
		<package id="googlechrome" />
		<package id="Firefix" />
		<package id="vlc" />
		<package id="zoom" />
		<package id="foxitreader" />
		<package id="sysinternals" />
		<package id="treesizefree" />
		<package id="office365business" />
	</packages>
